* {
    scroll-behavior: smooth;
}
.sub-div .container::-webkit-scrollbar {
    color: white;
    
}
.sub-div .container::-webkit-scrollbar-thumb {
    border-radius: 29px;
    background-image: linear-gradient(159deg, #cc00ff, red);
}
body::-webkit-scrollbar {
    color: white;
    
}
body::-webkit-scrollbar-thumb {
    border-radius: 29px;
    background-image: linear-gradient(159deg, #cc00ff, red);
}

body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}
nav {
    width: 100%;
    top: 0;
    position: sticky;
    height: 45px;
    background-color: #fff;
    z-index: 100;
    display: flex;
}
nav a {
    color: #000;

}

nav .nav-brand {
    text-decoration: none;
    position: absolute;
    left: 0;
}
.nav-child:hover {
    text-decoration: underline;
    transition: 0.5s all linear;
}

nav .nav-child {
    width: fit-content;
    margin-right: 100%;
    height: 100%;
    margin-left: 119px;
    margin-top: 8px;
    font-family: system-ui;
    font-weight: 1000;
}


video {
    background-position: center;
    width:100%;
    height: 100%;
    object-fit: fill;
    z-index: -1;
    position: fixed;
}
.root {
    width: 100%;
    height: 100%;
    background: #0000008c;
    z-index: auto;
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;

}



.root .intro {
    width: 100%;
    height: 100%;
    position: relative;
    display:grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.root .intro h1 {
    color: #fff;
    border: none;
    font-family: system-ui;
    font-size: calc(100% - -93px);
    background: -webkit-linear-gradient(#fff, #666);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 100000;
}

.root .intro img {
    width: calc(100% - -268px);
    height: calc(100% - 183px);
}
.root .intro span {
    color: #b7b7b7;
    place-content: space-evenly;
    font: caption;
    border: none;
}
.sub-div {
    width: 100%;
    height: fit-content; /*60rem */
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub-div .container {
    overflow: auto;
    display: flex;
    scroll-snap-type: x mandatory;
    width: calc(100% - 749px);
    height: calc(100% - 360px);
}
.sub-div .container .item {
    flex-shrink: 0;
    scroll-snap-align: start;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    background: aliceblue;
}
.sub-div .container .item .child {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    background: aliceblue;
}
.sub-div .container .item img {
    width: calc(100% - 13px);
    height: calc(100% - 140px);
}
.sub-div .container .item .child .head {
    text-align: center;
    width: 100%;
    display: grid;
    font-size: 29px;
    font-family: system-ui;
}
.sub-div .container .item .child .body {
    text-align: center;
    width: 100%;
    font: caption;
}
.sub-div .container .item .child .cash {
    text-align: center;
    width: 100%;
    display: grid;
    font-size: 29px;
    font-family: system-ui;
}

.button {
    border-radius: 10px;
    border: none;
    font-family: system-ui;
    font-size: 14px;
    color: white;
    background: #4386ff;
    height: 50px;
    margin-left: 34%;
    margin-right: 118%;
}
#n1:hover {
    border-radius: 10px;
    border: none;
    font-family: system-ui;
    font-size: 14px;
    color: #ebdcdb;
    height: 50px;
    background-color: #333230;
}
#n2:hover {
    outline: #cc00ff;
    background-color: bisque;
}
#n3:hover {
    border-radius: 10px;
    border: none;
    font-family: system-ui;
    font-size: 14px;
    color: #ebdcdb;
    height: 50px;
    background-color: #574f5e;
}
#n4:hover {
    border-radius: 10px;
    border: none;
    font-family: system-ui;
    font-size: 14px;
    color: #174cc5;
    height: 50px;
    background-color: ##574f5e;
}

.sub-div .shop-box {
    width: 362px;
    height: 432px;
    background: #f0f8ff;
    margin: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
}
#shop-2 {
    display: flex;
    flex-wrap: wrap;
}
.sub-div .shop-box .box-child {
    width: 100%;
    height: fit-content;
    display: grid;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    position: relative;
}
#img-er {
    width: 274px;
    height: 291px;
}
#img-ere {
    width: 316px;
    height: 313px;
    top: -31px;
    position: relative;
}
.sub-div .shop-box .box-child span {
    font: caption;

}

button {
    width: 100px;
    height: 44px;
    border-radius: 15px;
    border: none;
    color: white;
    background: #4386ff;
    position: relative;
    bottom: 0;
}